################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarRental/FileContentIndex/7d7a898f-8411-467f-ad92-7476bb667640.vsidx
/.vs/CarRental/FileContentIndex/95a7f1b7-e9c9-4bf6-ad7f-aef7997b8a59.vsidx
/bin/Debug/net8.0/CarRental.dll
/bin/Debug/net8.0/CarRental.exe
/bin/Debug/net8.0/CarRental.pdb
/bin/Debug/net8.0/CarRental.staticwebassets.runtime.json
/obj/CarRental.csproj.nuget.dgspec.json
/obj/CarRental.csproj.nuget.g.props
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/CarRental.assets.cache
/obj/Debug/net8.0/CarRental.csproj.AssemblyReference.cache
/obj/Debug/net8.0/CarRental.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/CarRental.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/CarRental.dll
/obj/Debug/net8.0/CarRental.genruntimeconfig.cache
/obj/Debug/net8.0/CarRental.pdb
/obj/Debug/net8.0/CarRental.sourcelink.json
/obj/Debug/net8.0/ref/CarRental.dll
/obj/Debug/net8.0/refint/CarRental.dll
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.development.json
/obj/Debug/net8.0/staticwebassets.pack.json
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/CarRental/FileContentIndex/9a5d6bc1-5a72-4086-a770-adbe930530b1.vsidx
/.vs/CarRental/FileContentIndex/fa09f639-97ab-461f-9cd5-9dd1e4ba026a.vsidx
/obj/Debug/net8.0/CarRental.AssemblyInfo.cs
/obj/Debug/net8.0/CarRental.AssemblyInfoInputs.cache
/.vs/CarRental/FileContentIndex/0b786954-aa84-4834-8dc1-cabcbd582664.vsidx
/.vs/CarRental/FileContentIndex/2606e461-d740-45e8-8f97-5de78c27f917.vsidx
/.vs/CarRental/FileContentIndex/32f65e7d-69a9-4fd7-a60d-7d7fc74b1783.vsidx
*.vsidx
