@model TbAdmin
@using CarRental.Utilities;
<!-- Other Elements Start -->
<div class="container-fluid pt-4 px-4">

	<div class="bg-secondary rounded h-100 p-4">
		<h6 class="mb-4">Tài khoản của bạn</h6>
		<div class="d-flex align-items-start">
			<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
				 aria-orientation="vertical">
				<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-home" type="button" role="tab"
						aria-controls="v-pills-home" aria-selected="true">
					Thông tin
				</button>
				<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-profile" type="button" role="tab"
						aria-controls="v-pills-profile" aria-selected="false">
					Liên lạc
				</button>
				<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-messages" type="button" role="tab"
						aria-controls="v-pills-messages" aria-selected="false">
					Mật khẩu
				</button>
				<button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
						data-bs-target="#v-pills-settings" type="button" role="tab"
						aria-controls="v-pills-settings" aria-selected="false">
					Cài đặt
				</button>
			</div>
			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
					<div class="row g-5">
						<div class="col-sm-12 col-xl-6">
							<form asp-action="Index" asp-controller="Account">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="form-group mt-3">
									<label class="control-label">Tên</label>
									<input asp-for="Name" class="form-control" >
									<span class="text-danger"></span>
								</div>
								<div class="form-group mt-3">
									<label class="control-label">Ngày sinh</label>
									<input asp-for="Birth" class="form-control" />
									<span class="text-danger"></span>
								</div>
								<div class="form-group mt-3">
									<label class="control-label">Ảnh đại diện</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<button type="button" class="btn btn-primary" onclick="openDialog()">Chọn ảnh</button>
										</div>
										<input type="text" class="form-control" id="file_input" asp-for="Avatar" aria-describedby="button-addon2">
									</div>
									<span asp-validation-for="Avatar" class="text-danger"></span>

								</div>
								<button type="submit" class="mt-3 btn btn-primary">Lưu</button>
							</form>
						</div>

						<div class="col-sm-12 col-xl-6">

							<img id="image" src="@Model.Avatar" width="500" height="500" />
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style="width:400%">
					<div class="row g-5">
						<div class="col-sm-12 col-xl-12">
							<form asp-action="Contact" asp-controller="Account">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>

								<div class="form-group mt-3">
									<label class="control-label">Số điện thoại</label>
									<input asp-for="Phone" class="form-control" />
									<span class="text-danger"></span>
								</div>
								<div class="form-group mt-3">
									<label class="control-label">Email</label>
									<input asp-for="Email" class="form-control" />
									<span class="text-danger"></span>
								</div>

								<button type="submit" class="mt-3 btn btn-primary">Lưu</button>
							</form>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" style="width:400%">
					<form asp-action="RePassword" asp-controller="Account">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>

						<div class="form-group mt-3">
							<label class="control-label">Mật khẩu</label>
							<input type="password" name="password" class="form-control" />
							<span class="text-danger"></span>
						</div>
						<div class="form-group mt-3">
							<label class="control-label">Mật khẩu mới</label>
							<input type="password" name="newpassword" class="form-control" />
							<span class="text-danger"></span>
						</div>
						<div class="form-group mt-3">
							<label class="control-label">Nhập lại mật khẩu mới</label>
							<input type="password" name="confirmpassword" class="form-control" />
							<span class="text-danger"></span>
						</div>

						<button type="submit" class="mt-3 btn btn-primary">Lưu</button>
						<p class="text-danger mt-3">@Function._Message</p>
					</form>
				</div>
				<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
					<div class="text-danger">Xóa tài khoản, bạn chắc không? <button class="btn btn-danger">Xóa</button></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Other Elements End -->
<script>
	// Lấy đối tượng input và thẻ img
	const imagePathInput = document.getElementById('file_input');
	const previewImage = document.getElementById('image');
	// Lắng nghe sự kiện thay đổi giá trị của ô input
	imagePathInput.addEventListener('input', function() {
		// Cập nhật thuộc tính src của thẻ img với giá trị từ ô input
		previewImage.src = imagePathInput.value;
	});
</script>

@{
	var summerNote = new CarRental.Areas.Admin.Models.SummerNote("#Detail");
	<partial name="_SummerNote" model="summerNote" />
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}