@model IEnumerable<TbNotificalAdmin>
<div class="nav-item dropdown">
	<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
		<i class="fa fa-bell me-lg-2"></i>
		<span class="d-none d-lg-inline-flex">Thông báo</span>
	</a>
	<div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0" style="width:300px" >
		@foreach(var item in Model)
		{<a href="#" class="dropdown-item">
			<h6 class="fw-normal mb-0">@item.Detail</h6>
			<small>@item.Time.Value.ToString("dd/MM/yyyy hh:mm")</small>
		</a>
		<hr class="dropdown-divider">}
	</div>
</div>
