@model CarRental.Models.TbCar

@{
	ViewData["Title"] = "Thông tin xe";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-12 col-xl-12">
			<div class="bg-secondary rounded h-100 p-4">
				<h1 class="mb-4">Thông tin xe</h1>
				<dl class="row text-white">
					<dt class="col-sm-2 mt-3">
						Mẫu xe
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.IdproductionModelNavigation.ProductionModelName)
					</dd>
					<dt class="col-sm-2 mt-3">
						Màu
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.Color)
					</dd>
					<dt class="col-sm-2 mt-3">
						Giá
					</dt>
					<dd class="col-sm-10 mt-3">
						@Html.DisplayFor(model => model.Price)
					</dd>
					<dt class="col-sm-2 mt-3">
						Ảnh
					</dt>
					<dd class="col-sm-10 mt-3">
						<img src="@Html.DisplayFor(model => model.Image)
					</dd>

				</dl>
				<hr style="color:white" />
				<div>
					<a asp-action="Edit" asp-route-id="@Model?.Idcar">Sửa</a> |
					<a asp-action="Index">Quay lại danh sách</a> |
					<a asp-action="Delete" asp-route-id="@Model?.Idcar">Xóa</a>
				</div>
			</div>
		</div>
	</div>
</div>
