@model TbCustomer
@using CarRental.Utilities
@{
	Layout = "~/Views/Shared/_Layout_UnSign.cshtml";
	ViewBag.Title = "Đăng nhập";
	ViewBag.Active = "";
}
<!-- Sign In Start -->
<div class="container-fluid">
	<div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
		<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
			<div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
				<div class="d-flex align-items-center justify-content-between mb-3">
					<a href="index.html" class="">
						<h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Cental</h3>
					</a>
					<h3>Đăng nhập</h3>
				</div>
				<form asp-action="Index" asp-asp-controller="LogIn">
					<div class="form-floating mb-3">
						<input asp-for="Username" type="text" class="form-control" id="floatingInput" placeholder="" required>
						<label asp-for="Username">Tên tài khoản</label>
					</div>
					<div class="form-floating mb-4">
						<input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="" required>
						<label asp-for="Password">Mật khẩu</label>
					</div>
					<p class="text-center text-danger mb-3">@Function._Message</p>
					<div class="d-flex align-items-center justify-content-between mb-4">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Nhớ tôi</label>
						</div>
						<a href="">Quên mật khẩu</a>
					</div>
					<button type="submit" class="btn btn-primary py-3 w-100 mb-4">Đăng nhập</button>
					<p class="text-center mb-0">Bạn chưa có tài khoản? <a href="/register">Đăng ký</a></p>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Sign In End -->
