@model TbAdmin
@using CarRental.Utilities
@{
	Layout = "~/Views/Shared/_Layout_UnSign.cshtml";
	ViewBag.Title = "Đăng nhập";
	ViewBag.Active = "";
}
<!-- Sign In Start -->
<div class="container-fluid">
	<div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
		<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
			<div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
				<div class="d-flex align-items-center justify-content-between mb-3">
					<a href="index.html" class="">
						<h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Quản trị</h3>
					</a>
					<h3>Đăng nhập</h3>
				</div>
					<form asp-action="Index" asp-controller="NewAdmin">
					<div class="form-floating mb-3">
						<input asp-for="Username" type="text" class="form-control" id="floatingText" placeholder="" required>
						<label asp-for="Username">Tên tài khoản</label>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="" required>
						<label asp-for="Password">Mật khẩu</label>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Name" type="text" class="form-control" id="floatingText" placeholder="" required>
						<label asp-for="Name">Họ tên</label>
					</div>

					<div class="form-floating mb-3">
						<input asp-for="Phone" type="text" class="form-control" id="floatingText" placeholder="" required>
						<label asp-for="Phone">Số điện thoại</label>
					</div>			
					<div class="form-floating mb-3">
						<input asp-for="Email" type="text" class="form-control" id="floatingText" placeholder="" required>
						<label asp-for="Email">Email</label>
					</div>	
					<p class="text-center text-danger mb-3">@Function._Message</p>
					<div class="d-flex align-items-center justify-content-between mb-4">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label">Nhớ tôi</label>
						</div>
						<a href="/admin/">Không thêm nữa</a>
					</div>
					<button type="submit" class="btn btn-primary py-3 w-100 mb-4">Thêm</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Sign In End -->
