@model CarRental.Models.TbMenu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-12 col-xl-12">
			<div class="bg-secondary rounded h-100 p-4">
				<h1 class="mb-4">Thông tin menu</h1>
				<dl class="row text-white">
                    <dt class="col-sm-2 mt-3">
                       Tiêu đề
                    </dt>
                    <dd class="col-sm-10 mt-3">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2 mt-3">
                        Đường dẫn
                    </dt>
                    <dd class="col-sm-10 mt-3">
                        @Html.DisplayFor(model => model.Alias)
                    </dd>
                    <dt class="col-sm-2 mt-3">
                        Vị trí
                    </dt>
                    <dd class="col-sm-10 mt-3">
                        @Html.DisplayFor(model => model.Position)
                    </dd>
                    <dt class="col-sm-2 mt-3">
                        Menu cha
                    </dt>
                    <dd class="col-sm-10 mt-3">
                        @Html.DisplayFor(model => model.ParentMenu)
                    </dd>
				</dl>
				<hr style="color:white" />
				<div>
					<a asp-action="Edit" asp-route-id="@Model?.Idmenu">Sửa</a> |
					<a asp-action="Index">Quay lại danh sách</a> |
					<a asp-action="Delete" asp-route-id="@Model?.Idmenu">Xóa</a>
				</div>
			</div>
		</div>
	</div>
</div>

