@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Blog";
	ViewBag.Active = "Blog";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
	<div class="container text-center py-5" style="max-width: 900px;">
		<h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Blog</h4>
		<ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
			<li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
			<li class="breadcrumb-item active text-primary">Blog</li>
		</ol>
	</div>
</div>
<!-- Header End -->
<!-- Blog Start -->
@await Component.InvokeAsync("Blog")
<!-- Blog End -->
<!-- Fact Counter -->
@await Component.InvokeAsync("FactCounter")
<!-- Fact Counter -->
<!-- Banner Start -->
<div class="container-fluid banner py-5 wow zoomInDown" data-wow-delay="0.1s">
	<div class="container py-5">
		<div class="banner-item rounded">
			<img src="img/banner-1.jpg" class="img-fluid rounded w-100" alt="">
			<div class="banner-content">
				<h2 class="text-primary">Rent Your Car</h2>
				<h1 class="text-white">Interested in Renting?</h1>
				<p class="text-white">Don't hesitate and send us a message.</p>
				<div class="banner-btn">
					<a href="#" class="btn btn-secondary rounded-pill py-3 px-4 px-md-5 me-2">WhatchApp</a>
					<a href="#" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->
