@model CarRental.Models.TbProductionModel

@{
    ViewData["Title"] = "Sửa mẫu xe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-12 col-xl-12">
			<div class="bg-secondary rounded h-100 p-4">
				<h1 class="mb-4">Sửa mẫu xe</h1>
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="IdproductionModel" />
					<div class="form-group mt-3">
						<label asp-for="Idautomaker" class="control-label">Hãng xe</label>
						<select asp-for="Idautomaker" class="form-control text-light bg-body" asp-items="ViewBag.Idautomaker"></select>
					</div>
					<div class="form-group mt-3">
						<label asp-for="ProductionModelName" class="control-label">Tên mẫu xe</label>
						<input asp-for="ProductionModelName" class="form-control" />
						<span asp-validation-for="ProductionModelName" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<label asp-for="SeatingCapacity" class="control-label">Chỗ ngồi</label>
						<input asp-for="SeatingCapacity" class="form-control" />
						<span asp-validation-for="SeatingCapacity" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<label asp-for="Idgearbox" class="control-label">Hộp số</label>
						<select asp-for="Idgearbox" class="form-control text-light bg-body" asp-items="ViewBag.Idgearbox"></select>
					</div>
					<div class="form-group mt-3">
						<label asp-for="Idfuel" class="control-label">Nhiên liệu</label>
						<select asp-for="Idfuel" class="form-control text-light bg-body" asp-items="ViewBag.Idfuel"></select>
					</div>
					<div class="form-group mt-3">
						<label asp-for="Describe" class="control-label">Mô tả</label>
						<textarea asp-for="Describe" class="form-control" ></textarea>
						<span asp-validation-for="Describe" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<label asp-for="Star" class="control-label">Sao</label>
						<input asp-for="Star" class="form-control" />
						<span asp-validation-for="Star" class="text-danger"></span>
					</div>
					<div class="form-group mt-3">
						<label asp-for="IddriverCapabilities" class="control-label">Kiểu lái</label>
						<select asp-for="IddriverCapabilities" class="form-control text-light bg-body" asp-items="ViewBag.IddriverCapabilities"></select>
					</div>
					<div class="form-group mt-3">
						<input type="submit" value="Lưu lại" class="btn btn-primary" />
					</div>
					<div class="mt-3">
						<a asp-action="Index">Quay lại danh sách</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
	var summerNote = new CarRental.Areas.Admin.Models.SummerNote("#Describe");
	// var summerNote2 = new CarRental.Areas.Admin.Models.SummerNote("#Description");
	<partial name="_SummerNote" model="summerNote" />
	// <partial name="_SummerNote" model="summerNote2" />
}

<script>
	// Lấy đối tượng input và thẻ img
	const imagePathInput = document.getElementById('file_input');
	const previewImage = document.getElementById('image');
	// Lắng nghe sự kiện thay đổi giá trị của ô input
	imagePathInput.addEventListener('input', function() {
		// Cập nhật thuộc tính src của thẻ img với giá trị từ ô input
		previewImage.src = imagePathInput.value;
	});
</script>