@model CarRental.Models.TbProductionModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TbProductionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdproductionModel" />
            <div class="form-group">
                <label asp-for="Idautomaker" class="control-label"></label>
                <select asp-for="Idautomaker" class="form-control" asp-items="ViewBag.Idautomaker"></select>
                <span asp-validation-for="Idautomaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatingCapacity" class="control-label"></label>
                <input asp-for="SeatingCapacity" class="form-control" />
                <span asp-validation-for="SeatingCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idgearbox" class="control-label"></label>
                <select asp-for="Idgearbox" class="form-control" asp-items="ViewBag.Idgearbox"></select>
                <span asp-validation-for="Idgearbox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idfuel" class="control-label"></label>
                <select asp-for="Idfuel" class="form-control" asp-items="ViewBag.Idfuel"></select>
                <span asp-validation-for="Idfuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Describe" class="control-label"></label>
                <input asp-for="Describe" class="form-control" />
                <span asp-validation-for="Describe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Star" class="control-label"></label>
                <input asp-for="Star" class="form-control" />
                <span asp-validation-for="Star" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IddriverCapabilities" class="control-label"></label>
                <select asp-for="IddriverCapabilities" class="form-control" asp-items="ViewBag.IddriverCapabilities"></select>
                <span asp-validation-for="IddriverCapabilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionModelName" class="control-label"></label>
                <input asp-for="ProductionModelName" class="form-control" />
                <span asp-validation-for="ProductionModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
